@model IEnumerable<Binary_Academy_5_ASP_NET.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var item in Model)
{
<p>    @Html.ActionLink(@item.name, "Get", "Users", new { id = item.id }, null)</p>
}
