@model List<Binary_Academy_5_ASP_NET.Models.Comment>;
@{
    ViewData["Title"] = "GetCommentsByUserId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get comments with lenght less than 50 by user id </h2>

<form asp-controller="ManipulateData" asp-action="GetCommentsByUserId" method="post">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Id</span>
                <input type="text" name="id" class="form-control" placeholder="Id" aria-label="Id" aria-describedby="basic-addon1">
            </div>
            <br />
            <input class="btn btn-success" type="submit" value="Get comments">
        </div>
    </div>
</form>
<br />

@if (Model != null)
{
    @if (Model.Count == 0)
    {
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="alert alert-success" role="alert">
                    This user #@ViewData["id"] has no comments yet
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="list-group">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <ul class="list-group">
                        @foreach (var comment in Model)
                        {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @comment.body
                            <span class="badge badge-primary badge-pill"> @comment.likes</span>
                            <small>@comment.createdAt</small>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}